# Ne ellenőrizze szigorúan a peer dependencies-t
strict-peer-dependencies=false

# Ne próbálja automatikusan telepíteni a peer deps-et
auto-install-peers=false

# Shamefully hoist kikapcsolása
shamefully-hoist=false

# Minden workspace saját node_modules-t kapjon
shared-workspace-lockfile=true

engine-strict=false