.carousel .control-dots {
  position: absolute;
  bottom: -25px;
  margin: 20px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.carousel .control-dots .dot {
  position: relative;
  margin: 0 10px;
  width: 11px;
  height: 11px;
}
.carousel .control-dots .dot:before {
  content: "";

  /* tuch area increase */
  left: -18px;
  right: -18px;
  bottom: -18px;
  top: -18px;

  /* position below button */
  position: absolute;
  z-index: -1;
}
